
.messages {
    display: grid;
    grid-template-columns: 300px 1fr;
    color: #3f414d;
}

.users {
    background-color: white;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.dialogs {
    border-radius: 0 10px 10px 0;
    background-color: #dcf0ff;
    padding-left: 60px;
}
.addMessageForm {
    position: relative;
    right: -280px;
    width: 470px;
}
.textarea {
    min-height: 50px;
    min-width: 350px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding-left: 15px;
    margin: 10px 0 10px 10px;
    box-sizing: border-box;
    font-size: 0.91em;
    font-weight: lighter;
    color: #3f414d;
}
.textarea:focus {
    border: none;
}
.addMessageForm button {
    background-color: #50b5ff;
    height: 50px;
    width: 80px;
    border-radius: 0 5px 5px 0;
    border: none;
    font-size: 0.8em;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}