
.errorContainer {
    position: fixed;
    top: 30px;
    left: 15%;
    right: 10%;
    z-index: 1500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    max-width: 500px;
    height: 90px;
    border-radius: 5px;
    background: rgba(211, 47, 47, 0.9);
    padding: 10px;
    color: whitesmoke;
}

.errorMessage {
    margin-left: 10px;
}

.exitIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-left: auto;
}

.exitIcon:hover {
    cursor: pointer;
    border-radius: 50%;
    background: rgba(215, 215, 215, 0.25);
}