.createPosts {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px
}

.avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 5px;
}

.createPosts textarea {
    height: 100px;
    width: 950px;
    margin-left: 10px;
    border: none;
    font-size: 1.2em;
    resize: none;
}

.createPosts textarea:focus {
    outline: none;
}

.createPosts button {
    background-color: #c6dfeb;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: large;
    color: steelblue;
    text-transform: uppercase;
}
