.cover {
    height: 350px;
    background-image: url("https://pbs.twimg.com/profile_banners/925380997/1525580354/1500x500");
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}
.avatar img{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    border: white solid 4px;
    position: relative;
    top: 225px;
    left: 30px;
}