.cover {
    height: 450px;
    background-image: url("https://pbs.twimg.com/profile_banners/925380997/1525580354/1500x500");
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}
.avatar img{
    border-radius: 100px;
    border: white solid 5px;
    position: relative;
    top: 280px;
    left: 30px;
}