.nav {
    grid-area: n;
    min-height: 400px;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
}

.item a.active {
    display: block;
    background-color: #dcf0ff;
    border-radius: 5px;
    padding: 0 20px 0 10px;
}

.item a {
    display: block;
    text-decoration: none;
    color: #0cb8ef;
    padding: 5px;
}

.item a:hover {
    display: block;
    color: #c79cfd;
    font-weight: bold;
}