.nav {
    grid-area: n;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.item a.active {
    display: block;
    background-color: #dcf0ff;
    border-radius: 5px;
    padding: 0 20px 0 10px;
}

.item a {
    display: block;
    text-decoration: none;
    color: steelblue;
    padding: 5px;
}

.item a:hover {
    display: block;
    color: #c79cfd;
    font-weight: bold;
}